# Ignore Python virtual environments
venv/
.env/

# Byte-compiled / cache
__pycache__/
*.py[cod]

# Distribution / packaging
build/
dist/
*.egg-info/

# VSCode settings
.vscode/

# OS files
.DS_Store
Thumbs.db
